[submodule "nvim"]
	path = nvim
	url = https://github.com/Sir-Thom/nvim
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/Sir-Thom/wezterm
[submodule "kitty"]
	path = kitty
	url = https://github.com/Sir-Thom/kitty
